:root {
    --main-bg-color: #2196f3;
    --background-color: #fff;
    --font-color: #212121;
    --item-color: #757575;
}

body {
    background-color: var(--background-color);
    color: var(--font-color);
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
}

/*--- Шапка ---*/

.header-nav,
.logotype-link {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--font-color);
    text-decoration: none;
}

.logotype-link {
    color: var(--main-bg-color);
    text-decoration: none;
}

.logotype-link-studio {
    color: var(--font-color);
    text-decoration: none;
}

.text-item-studio {
    color: var(--main-bg-color);
    text-decoration: none;
}

.text-item {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--font-color);
    text-decoration: none;
}

.logotype-link:hover,
.text-item-studio:hover,
.text-item:hover {
    text-decoration: none;
    border-bottom: 1px solid var(--main-bg-color);
}

.list {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    list-style: none;
}

.hero-list {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
}

.hero-about {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--font-color);
}

.hero-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--item-color);
}

.section {
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.67;
    letter-spacing: 0.03em;
    color: var(--font-color);
}
.section-item {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--font-color);
}
.section-about {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: var(--item-color);
}

.mail {
    width: 77px;
    height: 16px;
    left: 552px;
    top: 32px;
    color: var(--main-bg-color);
    text-decoration: none;
}

.hero-btn {
    color: var(--background-color);
    background-color: var(--main-bg-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.8;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.footer-item {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--item-color);
}

.footer-item:hover {
    border-bottom: 1px solid var(--main-bg-color);
}
.footer-item {
    color: var(--item-color);
    text-decoration: none;
}
